---
import CardsContainer from "../components/CardsContainer.astro";
import Layout from "../layouts/Layout.astro";
console.log("prueba");
---

<Layout title="Prueba Astro">
  <main>
    <CardsContainer />
  </main>
</Layout>
