---
import { type ApiResult } from "../models/apiRickAndMorty.model";

const res = await fetch("https://rickandmortyapi.com/api/location?page=1");
const json = await res.json();
const data: ApiResult = json;
console.log(data);
---

<div>
  {data.results.map((character) => <div>{character.name}</div>)}
</div>
