---

---

<nav>
  <a>Rick and Morty</a>
  <div>
    <a href="/">Home</a>
  </div>
</nav>

<style>
  a {
    text-decoration: none;
    transition: color 0.3s;
  }

  a:hover {
    color: #ddd;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
</style>
